# Python:
*.py[c]
# *.so
*.egg
*.egg-info
.pytest_cache
dist
build


# vnctptd and vnctpmd
vnctpmd.cpython-37m-x86_64-linux-gnu.so
vnctptd.cpython-37m-x86_64-linux-gnu.so


# pycharm
*.idea

# ctp
temp

# txt
*.txt

# virturalenv
venv
