<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ctpbee回测结果</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
    {% block head %}
    {% endblock %}
    <style>
        .titled {
            text-align: center;
        }

        .title_block {
            padding-top: 10px;
        }
    </style>
</head>
<body>

{% block body %}
{% endblock %}


{% block footer %}
{% endblock %}

</body>


{% block script %}

{% endblock %}
</html>