{% extends "base.html" %}

{% block head %}
<style>
    #center {
        margin: 10px;
        padding: 10px;
    }

</style>
{% endblock %}

{% block body%}
<div class="container" onload="">
    <div id="center">
        <h2>基本账户信息 </h2>
        <div id="main">
        </div>
    </div>

</div>


{% endblock %}

{% block script %}
<script>

    function create_table() {
        var account_data = JSON.parse(localStorage.getItem("account"));
        data = '<table class="table table-bordered">' + '<th>key</th> <th>value' + '</th>';
        for (key in account_data) {
            console.log(key);
            data += "<tr>" + "<td>" + key + "</td>" + "<td>" + account_data[key] + "</td>" + "</tr>"
        }
        data += "</table>";
        $("#main").html(data);
    }
    create_table()
</script>


{% endblock %}


{%block footer %}

{%endblock%}