{% extends "base.html" %}


{% block body %}

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="fh5co-form animate-box">
            <div class="form-group">
                <title>Password</title>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="userid" id="userid" placeholder="订阅代码" autocomplete="off">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">订阅单个</button>
                <button type="submit" class="btn btn-primary">订阅所有</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{%block footer %}

{%endblock%}