{% extends "base.html" %}

{% block head %}

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='kline/dist/kline.js') }}"></script>
<script src="{{ url_for('static', filename='kline/lib/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='js/pargms.js') }}"></script>

<!--<script src="{{ url_for('static', filename='kline/lib/sockjs.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='kline/lib/stomp.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='kline/lib/require.js') }}"></script>-->
<style>
    .row {
        width: 100%;
    }

    .editor {
        border: 1px solid #000000;
    }

    #kline_container {
        margin-right: 0px;
    }

    .buy {
        height: 60px;
        width: 60px;
        color: whitesmoke;
        text-align: center;
        border-radius: 2px;
        line-height: 60px;

    }

    .sell {
        height: 60px;
        width: 60px;
        color: whitesmoke;
        text-align: center;
        border-radius: 2px;
        line-height: 60px;
    }

    .send_order {
        padding: 0px;
        margin: 0px;

    }

    #block {
        margin: 10px;
    }

</style>

{% endblock %}

{% block body %}

<h2>个人终端</h2>
<pre id="cock"></pre>
<div></div>

<div class="row" style="height: 1200px;">

    <div class="col-md-9 card">
        <div id="kline_container"></div>
        <div class="row">
            <div class="col-md-8 card">
                <div class="data col-md-12" id="content">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#position_data"
                                                                      aria-controls="position_data"
                                                                      role="tab"
                                                                      data-toggle="tab"
                                                                      onclick="click_position()">持仓数据</a></li>
                            <li role="presentation"><a href="#un_traded" aria-controls="un_traded" role="tab"
                                                       data-toggle="tab"
                                                       onclick="click_active_order()">待成交数据</a>
                            </li>
                            <li role="presentation"><a href="#order_data" aria-controls="order_data" role="tab"
                                                       data-toggle="tab" onclick="click_order()">发单数据</a></li>
                            <li role="presentation"><a href="#trade_data" aria-controls="trade_data" role="tab"
                                                       data-toggle="tab" onclick="click_trade()">成交数据</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="position_data"></div>
                            <div role="tabpanel" class="tab-pane" id="un_traded"></div>
                            <div role="tabpanel" class="tab-pane" id="order_data"></div>
                            <div role="tabpanel" class="tab-pane" id="trade_data"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="data col-md-12 send_order" id="send_order">
                    <div id="block">
                        <h3>下单控制台</h3>
                        <div style="width: 100%">
                            <div class="row">
                                <div class="col-md-3 send_order">价格类型</div>
                                <div class="col-md-6">
                                    <div class="form-group simple">
                                        <select class="selectpicker" id="type" data-style="btn-primary">
                                            <option value="limit">限价</option>
                                            <option value="market">市价</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 send_order">价格</div>
                                <div class="col-md-7">
                                    <input type="number" id="send_price" class="editor form-control"/>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 send_order">手数</div>
                                <div class="col-md-7">
                                    <input type="number" id="volume" class="editor form-control"/>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row list-inline">
                                <button class="btn-primary btn col-md-6 buy send_order"
                                        onclick="send_order('long')">
                                    买多
                                </button>
                                <button class="btn-danger btn col-md-6 sell send_order"
                                        onclick="send_order('short')">卖空
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div id="tick"></div>

    </div>
    <!--    <div class="col-md-2">-->
    <!--        <div class="data" id="tick" style="font-size: 10px;">合约具体数据</div>-->
    <!--    </div>-->
</div>

<hr>
<div class="">
    <div class="row">


    </div>
</div>


{% endblock %}


{%block footer %}

{%endblock%}

{%block script %}

<script src="{{ url_for('static', filename='js/trade_operation.js') }}"></script>
<script>
    window.onload = function () {
        // 更新个人终端数据
        var symbol = "{{ symbol }}";
        var detail_info = JSON.parse(localStorage.getItem(symbol));
        $("#cock").html("当前合约 --> {{ symbol }} " + "交易所: " + detail_info['exchange']);
        localStorage.setItem("current_symbol", symbol)
    };

    function send_order(direction) {
        order(direction, '{{ symbol }}', "{{ url_for('order_solve')}}")
    }

    socket.on("tick", function (data) {
        // 更新实时行情
        console.log(data);
        tick = data['data'];
        if (tick.symbol !== "{{symbol}}") return;
        data = '<table class="table table-bordered">' + '<th>详细数据</th> <th>值' + '</th>';
        for (key in tick) {
            if (!tick_par_array.includes(key)) continue;
            data += "<tr>" + "<td style='font-size: 12px;'>" + tick_map[key] + "</td>" + "<td style='font-size: 12px;'>" + tick[key] + "</td>" + "</tr>"
        }
        data += "</table>";
        $("#tick").html(data);
        // localStorage.setItem(tick.symbol, {});
        localStorage.setItem(tick.symbol, JSON.stringify(tick));
    });
    socket.on("position", function (data) {
        // 更新持仓数据
        var positions = data.data;
        localStorage.setItem("local_position", JSON.stringify(positions));
    });


    socket.on("active_order", function (data) {
        order_array = data['data'];
        localStorage.setItem("local_active_order", JSON.stringify(order_array));
    });

    socket.on("trade", function (data) {
        var trade_data = data['data'];
        localStorage.setItem("local_trade", JSON.stringify(trade_data));
    });

    socket.on("order", function (data) {
        order_array = data['data'];
        localStorage.setItem("local_order", JSON.stringify(order_array));
    });

    function click_order() {
        var order = localStorage.getItem("local_order");
        if (order == null) {
            return;
        }
        var order_array = JSON.parse(order);
        var data = '<table class="table table-bordered">' + '<th>报单合约</th><th>报单方向</th><th>交易所' + '</th>' + "<th> 报单手数 </th>" + "<th> 报单价格 </th>" + "<th> 状态</th>" + "<th> 报单时间</th>" + "<th> 价格类型</th>"
        for (var key in order_array) {
            data += "<tr>" + "<td>" + order_array[key]["symbol"] + "</td>" + "<td>" + order_array[key]["direction"] + "</td>" + "<td>" + order_array[key]["exchange"] + "</td>"
                + "<td>" + order_array[key]["volume"] + "</td>" + "<td>" + order_array[key]["price"].toFixed(2) + "</td>" + "<td>" + order_array[key]["status"] + "</td>" + "<td>" + order_array[key]["time"] + "</td>" + "<td>" + order_array[key]["type"] + "</td>" + "</tr>";
        }
        data += "</table>";
        $("#order_data").html(data);

    }

    function click_position() {
        var position = localStorage.getItem("local_position");
        if (position == null) {
            return
        }
        var positions = JSON.parse(position);
        data = '<table class="table table-bordered">' + '<th>持仓合约</th><th>持仓方向</th><th>交易所' + '</th>' + "<th> 持仓手数 </th>" + "<th> 浮动盈亏 </th>" + "<th> 持仓均价</th>" + "<th> 昨日持仓手数</th>" + "<th> 操作</th>";
        for (var key in positions) {
            data += "<tr>" + "<td>" + positions[key]["symbol"] + "</td>" + "<td>" + positions[key]["direction"] + "</td>" + "<td>" + positions[key]["exchange"] + "</td>"
                + "<td>" + positions[key]["volume"] + "</td>" + "<td>" + positions[key]["position_profit"].toFixed(2) + "</td>" + "<td>" + positions[key]["price"].toFixed(2) + "</td>" + "<td>" + positions[key]["yd_volume"] + "</td>" + "<td>" + "<a>平仓</a>" + "</td>" + "</tr>";
        }
        data += "</table>";
        $("#position_data").html(data);
    }


    function click_active_order() {
        var array = localStorage.getItem("local_active_order");
        if (array == null) {
            return
        }
        var order_array = JSON.parse(array);
        data = '<table class="table table-bordered">' + '<th>报单合约</th><th>报单方向</th><th>交易所' + '</th>' + "<th> 报单手数 </th>" + "<th> 报单价格 </th>" + "<th> 状态</th>" + "<th> 价格类型</th>" + "<th> 报单时间</th>" + "<th> 操作</th>";
        for (var key in order_array) {
            data += "<tr>" + "<td>" + order_array[key]["symbol"] + "</td>" + "<td>" + order_array[key]["direction"] + "</td>" + "<td>" + order_array[key]["exchange"] + "</td>"
                + "<td>" + order_array[key]["volume"] + "</td>" + "<td>" + order_array[key]["price"].toFixed(2) + "</td>" + "<td>" + order_array[key]["status"] + "</td>" + "<td>" + order_array[key]["type"] + "</td>" + "<td>" + order_array[key]["time"] + "</td>" + "<td>" + "<a>撤单</a>" + "</td>" + "</tr>";
        }
        data += "</table>";
        $("#un_traded").html(data);
    }

    function click_trade() {
        var trade = localStorage.getItem("local_trade");
        if (trade == null) {
            return
        }
        var trade_data = JSON.parse(trade);
        data = '<table class="table table-bordered">' + '<th>成交合约</th><th>报单方向</th><th>交易所' + '</th>' + "<th> 报单手数 </th>" + "<th> 报单价格 </th>" + "<th> 开平</th>" + "<th> 成交时间</th>"
        for (var key in trade_data) {
            data += "<tr>" + "<td>" + trade_data[key]["symbol"] + "</td>" + "<td>" + trade_data[key]["direction"] + "</td>" + "<td>" + trade_data[key]["exchange"] + "</td>"
                + "<td>" + trade_data[key]["volume"] + "</td>" + "<td>" + trade_data[key]["price"].toFixed(2) + "</td>" + "<td>" + trade_data[key]["offset"] + "</td>" + "<td>" + trade_data[key]["time"] + "</td>" + "</tr>";
        }
        data += "</table>";
        $("#trade_data").html(data);
    }

    var url = "http://127.0.0.1:5000/static/json/" + "{{ symbol}}" + ".json";
    var kline = new Kline({
        element: "#kline_container",
        height: 400,
        theme: "light",
        width: window.innerWidth * 0.75 - 30,
        ranges: ["1w", "1d", "1h", "30m", "15m", "5m", "1m", "line"],
        showTrade: false,
        symbol: "{{ symbol }}",
        symbolName: "{{symbol}}",
        debug: false,
        type: "poll", // poll/stomp
        limit: 1000,
        intervalTime: 1000,
        url: url,
    });
    kline.draw();

    // 默认点击持仓信息
    click_position();
</script>


{% endblock %}