{% extends "base.html" %}

{% block head %}

<style>
.row {
    width: 100%;
}

</style>

{% endblock %}

{% block body %}

<h2>个人终端</h2>
<pre>当前合约 --></pre>
<div></div>

<div class="row" style="height: 500px;">
    <div class="col-md-6">
        <code class="code">分时图</code>
    </div>
    <div class="col-md-6">
        <code class="code">K线图</code>
    </div>
</div>


<div class="">
    <div class="row">
        <div class="data col-md-5">下单界面</div>
        <div class="data col-md-2">合约具体数据</div>


         <div class="data col-md-5">界面</div>


    </div>


</div>


{% endblock %}


{%block footer %}

{%endblock%}

{%block script %}

{%endblock%}